<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title key=7>Stand Blog - About Page</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/blogtemplate/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/blogtemplate/assets/css/templatemo-stand-blog.css">
    <link rel="stylesheet" href="~/blogtemplate/assets/css/owl.css">

</head>

<body>



   
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h3 style="color:#f00;" key=8>Hakkımızda</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="about-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
               
                    <h1 key=9>Öncelikle sitemize hoşgeldiniz.Aşağıda bizim hakkımızda bilgilere sahip olabilirsiniz.İyi günler.</h1>
                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="author-thumb">
                        <img src="~/blogtemplate/assets/images/mert1.jpeg" width="370" height="550" alt="">
                    </div>
                    <h4>Mert Can Çelebi</h4>
                    <p key=10>Merhaba,ben Mert Can Çelebi. 20 yaşındayım ve Sakarya Üniversitesinde Bilgisayar Mühendisliği okuyorum.</p>
                    <p key=11>Mail adresim: mertcancelebi12@gmail.com</p>
                    <p key=12>Telefon Numaram: 05366354850</p>
                </div>
                <div class="col-lg-6">
                    <div class="author-thumb">
                        <img src="~/blogtemplate/assets/images/dorukan.jpg" width="370" height="550" alt="">
                    </div>
                    <h4>Dorukan Uysal</h4>
                    <p key=13>Merhaba,ben Dorukan Uysal. 20 yaşındayım ve Sakarya Üniversitesinde Bilgisayar Mühendisliği okuyorum.</p>
                    <p key=14>Mail adresim: dorukanuysal@gmail.com</p>
                    <p key=15>Telefon Numaram: 05396855657</p>
                </div>
            </div>

 


        </div>
    </section>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- Bootstrap core JavaScript -->
    <script src="~/blogtemplate/vendor/jquery/jquery.min.js"></script>
    <script src="~/blogtemplate/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="~/blogtemplate/assets/js/custom.js"></script>
    <script src="~/blogtemplate/assets/js/owl.js"></script>
    <script src="~/blogtemplate/assets/js/slick.js"></script>
    <script src="~/blogtemplate/assets/js/isotope.js"></script>
    <script src="~/blogtemplate/assets/js/accordions.js"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) {                   //declaring the array outside of the
            if (!cleared[t.id]) {                      // function makes it static and global
                cleared[t.id] = 1;  // you could use true and false, but that's more typing
                t.value = '';         // with more chance of typos
                t.style.color = '#fff';
            }
        }
    </script>

</body>
</html>