@model GirisViewModel
@{
    ViewData["Title"] = "Giris";
}
<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2" key=3>@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

            <div class="form-group mb-3">
                <label asp-for="KullaniciAdi" class="form-label" key=0>E-mail</label>
                <input asp-for="KullaniciAdi" class="form-control" />
                <span asp-validation-for="KullaniciAdi" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Sifre" class="form-label" key=1>Şifre</label>
                <input asp-for="Sifre" type="password" class="form-control" />
                <span asp-validation-for="Sifre" class="text-danger small"></span>
            </div>

            <div class="form-group d-grid mb-3">
                <button key=2 type="submit" class="btn btn-primary d-block"><i class="fa-solid fa-right-to-bracket me-2"></i>Giris Yap</button>
            </div>
        </form>
    </div>
</div>
