@model KullaniciEkleModel
@{
    ViewData["Title"] = "Kullanıcı Ekle";
}


<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2" key=40>@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

            <div class="form-group mb-3">
                <label asp-for="AdSoyad" class="form-label" key=23>İsim Soyisim</label>
                <input asp-for="AdSoyad" class="form-control" />
                <span asp-validation-for="AdSoyad" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="KullaniciAdi" class="form-label" key=0>E-mail</label>
                <input asp-for="KullaniciAdi" class="form-control"  />
                <span asp-validation-for="KullaniciAdi" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Sifre" class="form-label" key=1>Şifre</label>
                <input asp-for="Sifre" type="password" class="form-control"  />
                <span asp-validation-for="Sifre" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="TekrarSifre" class="form-label" key=4>Tekrar Şifre</label>
                <input asp-for="TekrarSifre" type="password" class="form-control" />
                <span asp-validation-for="TekrarSifre" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Rol" class="form-label" key=37>Rol</label>
                <select asp-for="Rol" class="form-select">
                    <option value="">Seçiniz</option>
                    <option value="admin">Admin</option>
                    <option value="kullanici">Kullanici</option>
                </select>
                <span asp-validation-for="Rol" class="text-danger small"></span>
            </div>

          

            <div class="form-group mb-3">
                <button key=24 type="submit" class="btn btn-primary"><i class="fa-solid fa-save me-2"></i>Kaydet</button>
            </div>
        </form>
    </div>
</div>